# ---------------------------
# Core Data Science Libraries
# ---------------------------
numpy
pandas
scikit-learn
scipy
seaborn
plotly
bokeh
python-dateutil

# ---------------------------
# Machine Learning & Deep Learning
# ---------------------------
tensorflow
tensorflow-io-gcs-filesystem
tensorboard
keras
h5py

# ---------------------------
# Natural Language Processing (NLP)
# ---------------------------
spacy
spacy-legacy
spacy-loggers
nltk
textblob
openai
llama-index

# ---------------------------
# Azure SDKs
# ---------------------------
azure-core
azure-identity
azure-storage-blob

# ---------------------------
# Web Frameworks & APIs
# ---------------------------
fastapi
uvicorn
gunicorn
requests
aiohttp
PyJWT